server:
  port: 8081

spring:
  application:
    name: aggregate-service

  cloud:
    function:
      definition: taskProcessor

    stream:
      kafka:
        binder:
          brokers: localhost:9092
          auto-create-topics: true
          consumer-properties:
            key.deserializer: org.apache.kafka.common.serialization.StringDeserializer
            value.deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
            spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
            spring.json.value.default.type: org.spartahub.aggregateservice.dto.request.BaseTaskRequest
            spring.json.trusted.packages: "*"
            spring.json.use.type.headers: false
          producer-properties:
            key.serializer: org.apache.kafka.common.serialization.StringSerializer
            value.serializer: org.springframework.kafka.support.serializer.JsonSerializer

      bindings:
        taskProcessor-in-0:
          destination: delivery.sys.external-tasks
          group: aggregate-worker-group
          content-type: application/json
          consumer:
            use-native-decoding: true

        task-result-out-0:
          destination: delivery.sys.external-results
          content-type: application/json
          producer:
            use-native-encoding: true

external:
  naver:
    client-id: ${NAVER_CLIENT_ID}
    client-secret: ${NAVER_CLIENT_SECRET}
    naver-api-host: ${NAVER_API_HOST}
    naver-geo-api-path: ${NAVER_GEO_API_PATH}
    naver-directions5-api-path: ${NAVER_DIRECTIONS5_API_PATH}


logging:
  level:
    org.springframework.cloud.stream: INFO
    org.spartahub: DEBUG